!!! 5
%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %title Explorer
  %link{rel: 'stylesheet', href: '/css/app.min.css'}
  %link{rel: 'icon', type: 'image/png', href: 'favicon-32x32.png', sizes: '32x32'}
  %link{rel: 'icon', type: 'image/png', href: 'favicon-16x16.png', sizes: '16x16'}
  %base{href: app_root}

%body
  - if(true)
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a{href: '/'}
              Explorer
      %section.top-bar-section
        %ul.left
          - each p in hooks
            - if('menu' in p)
              != p.menu()

  .large-6.container.large-centered.columns

  != body

  %ul#notifications
  %footer.row
    .columns.large-12.small-12
      %p.small.text-center
        %a{href: 'https://github.com/soyuka/explorer'} Github

- if(true)
  %script{type: 'text/javascript', src: 'js/main.js'}
  :javascript
    var confirmDeletion = function(e) {
      return confirm('Are you sure?')
    }
    var checkAll = function(event) {
      var checkboxes = document.getElementById('tree').querySelectorAll('input[type="checkbox"]')
      for(var i in checkboxes) {
        checkboxes[i].checked = event.currentTarget.checked
      }
    }

